<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <startup>
            
        </startup>
  <connectionStrings>
    <add name="mssql" connectionString="Data Source=127.0.0.1;Initial catalog=TravelAgency;User Id=sa;Password=scu510scu510;Connect Timeout=5;"/>
    <!--<add name="mssql" connectionString="Data Source=192.168.1.200;Initial catalog=TravelAgency;User Id=sa;Password=zyqcosta@10$@@+$;Connect Timeout=5;"/>-->
  </connectionStrings>
</configuration>